config ZMK_BEHAVIOR_KANA
    bool "Kana romaji output behaviors (&kana_key, &kana_sw)"
    default y
    depends on DT_HAS_ZMK_BEHAVIOR_KANA_ENABLED || DT_HAS_ZMK_BEHAVIOR_KANA_MODE_ENABLED

config ZMK_BEHAVIOR_MOUSE_BUTTON_TOGGLE
    bool "Mouse button toggle behavior (zmk,behavior-mouse-button-toggle)"
    default y
    depends on (DT_HAS_ZMK_BEHAVIOR_MOUSE_BUTTON_TOGGLE_ENABLED || DT_HAS_ZMK_MOUSE_BUTTON_LOCK_INPUT_ENABLED) && ZMK_POINTING

config ZMK_CURSOR_SLOW
    bool "Cursor slow mode (zmk,behavior-cursor-slow, zmk,input-processor-cursor-slow)"
    default y
    depends on DT_HAS_ZMK_BEHAVIOR_CURSOR_SLOW_ENABLED || DT_HAS_ZMK_INPUT_PROCESSOR_CURSOR_SLOW_ENABLED

config ZMK_BEHAVIOR_KEY_LOCK
    bool "Key lock behavior (zmk,behavior-key-lock)"
    default y
    depends on DT_HAS_ZMK_BEHAVIOR_KEY_LOCK_ENABLED

config ZMK_AUTO_MOUSE_LAYER
    bool "Auto mouse layer input processor (zmk,input-processor-auto-mouse-layer)"
    default y
    depends on DT_HAS_ZMK_INPUT_PROCESSOR_AUTO_MOUSE_LAYER_ENABLED && ZMK_POINTING

config ZMK_BEHAVIOR_ALT_CODE
    bool "Windows Alt code behavior (zmk,behavior-alt-code)"
    default y
    depends on DT_HAS_ZMK_BEHAVIOR_ALT_CODE_ENABLED

config ZMK_SCROLL_SNAP_GATE
    bool "Scroll snap hold (zmk,behavior-scroll-snap-hold, zmk,input-processor-scroll-snap-gate)"
    default y
    depends on (DT_HAS_ZMK_BEHAVIOR_SCROLL_SNAP_HOLD_ENABLED || DT_HAS_ZMK_INPUT_PROCESSOR_SCROLL_SNAP_GATE_ENABLED) && ZMK_POINTING
