config ZMK_BEHAVIOR_KANA
    bool "Kana romaji output behaviors (&kana, &kana_mode)"
    default y
    depends on DT_HAS_ZMK_BEHAVIOR_KANA_ENABLED || DT_HAS_ZMK_BEHAVIOR_KANA_MODE_ENABLED

config ZMK_BEHAVIOR_MOUSE_BUTTON_TOGGLE
    bool "Mouse button toggle behavior (&mbt)"
    default y
    depends on DT_HAS_ZMK_BEHAVIOR_MOUSE_BUTTON_TOGGLE_ENABLED && ZMK_POINTING
